provisioner:
  hosts:
    localhost

idm_primary:
  hosts:
    idm1.{{ global_domain_name }}

{% if rhis_system_count.idm is defined and rhis_system_count.idm > 1 %}
idm_replicas:
  hosts:
{% for num in range(2, rhis_system_count.idm +1) %}
    idm{{ num }}.{{ global_domain_name }}
{% endfor %}

{% endif %}
sat_primary:
  hosts:  
{% for num in range(1, rhis_system_count.discosatellite + 1) %}
    satellite{{ num }}.{{ global_domain_name }}
    # discosatellite{{ num }}.{{ global_domain_name }}
{% endfor %}

{% if rhis_system_count.capsule is defined and rhis_system_count.capsule > 0 %}
sat_capsules:
  hosts:
{% for num in range(1, rhis_system_count.capsule + 1) %}
    capsule{{ num }}.{{ global_domain_name }}
{% endfor %}

{% endif %}
sat_trusted_hosts:
  children:
    sat_primary:
    sat_capsules:

platform_installer:
  hosts:
{% for num in range(1, rhis_system_count.aapcontroller + 1) %}
    aaphub{{ num }}.{{ global_domain_name }}
{% endfor %}

aap_controllers:
  hosts:
{% for num in range(1, rhis_system_count.aapcontroller + 1) %}
    aapcontroller{{ num }}.{{ global_domain_name }}
{% endfor %}

# aap_databases:
#   hosts:
#     aapdb.{{ global_domain_name }}

{% if rhis_system_count.aaphub is defined and rhis_system_count.aaphub > 0 %}
aap_hubs:
  hosts:
{% for num in range(1, rhis_system_count.aaphub + 1) %}
    aaphub{{ num }}.{{ global_domain_name }}
{% endfor %}

{% endif %}
# aap_edacontrollers:
# aap_execution_nodes:
# aap_hop_nodes:

aap_hosts:
  children:
    aap_hubs:
    aap_controllers:

{% if rhis_system_count.quadlet is defined %}
container_servers:
  hosts:
{% for num in range(1, rhis_system_count.quadlet + 1) %}
    quadlet{{ num }}.{{ global_domain_name }}
{% endfor %}

{% endif %}
{% if rhis_system_count.quay is defined %}
quay_servers:
  hosts:
{% for num in range(1, rhis_system_count.quay + 1) %}
    quay{{ num }}.{{ global_domain_name }}
{% endfor %}

{% endif %}
# aws_nodes:
# azure_nodes:
# baremetal_nodes:
# gcp_nodes:
# kvm_nodes:
# ocp_virt_nodes:
# openstack_nodes:
vmware_vcenter_hosts:
  hosts:
    vcenter.{{ global_domain_name }}

vmware_esx_hosts:
  hosts:
    esx1.{{ global_domain_name }}
    esx2.{{ global_domain_name }}
    esx3.{{ global_domain_name }}
    esx4.{{ global_domain_name }}
    esx5.{{ global_domain_name }}
    esx6.{{ global_domain_name }}
    esx7.{{ global_domain_name }}
    esx8.{{ global_domain_name }}
    esx9.{{ global_domain_name }}
