#!/bin/bash
./run_container.sh --ansible-ver '2.5' \
                   --secrets-dir '{{ lookup('ansible.builtin.env', 'working_directory_external_to_container') }}/{{ deployment_dir }}/vault' \
                   --external-tasks-dir '{{ lookup('ansible.builtin.env', 'working_directory_external_to_container') }}/{{ deployment_dir }}/external_tasks' \
                   --files-dir '{{ lookup('ansible.builtin.env', 'working_directory_external_to_container') }}/{{ deployment_dir }}/files' \
                   --group-vars-dir '{{ lookup('ansible.builtin.env', 'working_directory_external_to_container') }}/{{ deployment_dir }}/group_vars' \
                   --host-vars-dir '{{ lookup('ansible.builtin.env', 'working_directory_external_to_container') }}/{{ deployment_dir }}/host_vars' \
                   --inventory-dir '{{ lookup('ansible.builtin.env', 'working_directory_external_to_container') }}/{{ deployment_dir }}/inventory' \
                   --templates-dir '{{ lookup('ansible.builtin.env', 'working_directory_external_to_container') }}/{{ deployment_dir }}/templates' \
                   --vars-dir '{{ lookup('ansible.builtin.env', 'working_directory_external_to_container') }}/{{ deployment_dir }}/vars' \
                   --container-registry 'quay.io' \
                   --container-repo 'parmstro'
