<%#
name: use_NBDE
description: "This snippet binds encrypted disks for Linux servers to specified tang
  server\r\nRequires RHEL_Server_Compliance_Encrypted partition template"
snippet: true
model: ProvisioningTemplate
organizations:
- Default Organization
locations:
- Default Location
-%>
<%#
This template expects the following host paramaters to be set in the hostgroup

boolean  use_NBDE                     (true)
string   default_passphrase           (your_secret)
boolean  remove_default_passphrase	  (false)
array    enc_target_drives            (["/dev/sda","/dev/sdb"])
string   binding_json                 ({"t":1, "pins":{"tang":[{"url":"http://c1containers.parmstrong.ca:8080"},{"url":"http://tang1.parmstrong.ca:8080"}]}})
string   binding_type                 ("sss")


This template uses the following variables from Kickstart Default
iface
%>


<% if host_param('use_NBDE') && (host_param('default_passphrase') != "") %>
# install the tools for NBDE
  echo " "
  echo "#####################################"
  echo "beginning luks binding to tang server"
  <% if @host.operatingsystem.major.to_i == 8 %>
  yum -y install clevis clevis-dracut clevis-luks clevis-systemd clevis-udisks2 cockpit-storaged
  <% end -%>
  
  <% if @host.operatingsystem.major.to_i == 9 %>
  yum -y install clevis clevis-dracut clevis-luks clevis-systemd clevis-udisks2  clevis-pin-tpm2 cockpit-storaged
  <% end -%>
  # get the list of encrypted drives
  # debug
  
  blkid -o device -t TYPE=cyrpto_LUKS
  
  echo "Get the list of encryted drives"

  discovered_drives=$(sudo blkid -t TYPE=crypto_LUKS -o device)

  echo
  echo "Drives to be bound:"
  echo $discovered_drives
  
  # ask tang servers for pin to see if they are up
  echo "Requesting tang pin"
  <% data_hash = JSON.parse(host_param('binding_json')) %>
  <% data_hash['pins']['tang'].each do |tang_srv| %>
    curl -fg <%= tang_srv['url'] %>/adv -o adv.jws
  <% end %>
  echo "tang pins acquired"
  
  echo "Binding LUKS volume to tang"
  <% if host_param('enc_target_drives').empty? %>
  for drv in $discovered_drives
  do
    clevis luks bind -y -f -k - -d $drv <%= host_param('binding_type') %> '<%= host_param('binding_json') %>' <<< <%= host_param('default_passphrase') %>
  done
  <% end -%>
  
  <% if ! host_param('enc_target_drives').empty? %>
    <% host_param('enc_target_drives').each do |drv| %>
      echo "Binding drive <%= drv %>"
      clevis luks bind -y -f -k - -d <%= drv %> <%= host_param('binding_type') %> '<%= host_param('binding_json') %>' <<< <%= host_param('default_passphrase') %>
    <% end %>
  <% end -%>
  
  <% if host_param('enc_target_drives').empty? %>
  echo "Check bindings... "
  for drv in $discovered_drives
  do
    echo "Checking drive $drv"
    clevis luks list -d $drv
  done
  <% end -%>
  <% if ! host_param('enc_target_drives').empty? %>
    <% host_param('enc_target_drives').each do |drv| %>
  echo "Checking drive <%= drv %>"
  clevis luks list -d <%= drv %>
    <% end %>
  <% end -%>
  
  echo "Binding completed"
  
  echo "Regenerate initramfs to include clevis"
  echo "Getting CURRENT_GRUB_CMDLINE_LINUX"
  CURRENT_GCL=`grep GRUB_CMDLINE_LINUX /etc/default/grub | sed 's/GRUB_CMDLINE_LINUX=//' | sed 's/"//g'`;export CURRENT_GCL
  echo $CURRENT_GCL
  echo "Generating"
  <% if (@host.provision_interface.subnet && !@host.provision_interface.subnet.dhcp_boot_mode?) || @static %>
  # this should add the args so that we get our lvm args if needed.
  grubby --update-kernel=ALL --args="$CURRENT_GCL rd.neednet=1 ip=<%= @host.provision_interface.ip %>::<%= @host.provision_interface.subnet.gateway %>:<%= @host.provision_interface.subnet.mask %>:<%= @host.name %>:<%= @host.provision_interface.identifier %>:none nameserver=<%= @host.provision_interface.subnet.dns_primary %> nameserver=<%= @host.provision_interface.subnet.dns_secondary %>"
  dracut -fv --regenerate-all 
  <% else %>
  grubby --update-kernel=ALL --args="$CURRENT_GCL rd.neednet=1"
  dracut -fv --regenerate-all
  <% end -%>
  echo "initramfs regenerated"
  
  <% if host_param('remove_default_passphrase') %>
  echo "removing default_passphrase from volume"
    <% if host_param('enc_target_drives').empty? %>
  for drv in $discovered_drives
  do
  echo "Removing default passphrase for drive <%= drv %>"
  cryptsetup luksRemoveKey $drv <<< <%= host_param('default_passphrase') %>
  echo "default_passphrase key removed"
  done
    <% elsif ! host_param('enc_target_drives').empty? %>
      <% host_param('enc_target_drives').each do |drv| %>
  echo "Removing default passphrase for drive <%= drv %>"
  cryptsetup luksRemoveKey <%= drv %> <<< <%= host_param('default_passphrase') %>
  echo "default_passphrase key removed"
      <% end %>
    <% end -%>
  <% end -%>
  
  echo "exiting luks binding to tang server"
  echo "###################################"
  echo " "
<% end -%>
