<%#
name: SOE Kickstart Default custom packages
description: Add custom packages to build
snippet: true
model: ProvisioningTemplate
organizations:
- {{ satellite_organization }}
locations:
- {{ satellite_location }}
-%>
bash-completion
net-tools
tmux
xfsdump
yum-utils
zip
