# This is the Ansible Automation Platform standalone inventory fiel
# This is designed for simple development implementations only.
# MANY SECTIONS ARE DELIBERATELY OMITTED IN THIS FILE
# For all optional variables please consult the included README.md
# or the Red Hat documentation:
# https://docs.redhat.com/en/documentation/red_hat_ansible_automation_platform/2.5/html/containerized_installation

# This section is for your automation hub hosts
# -----------------------------------------------------
# There will be only one node - the automation hub
[automationhub]
{{ groups['aap_hubs'][0] }}


# Common variables
# -----------------------------------------------------
[all:vars]
admin_password="{{ platform_installer_config.aap_platform_password }}"
custom_ca_cert="{{ platform_installer_config.aap_custom_ca_crt }}"
redis_mode="{{ platform_installer_config.aap_redis_mode }}"

# Registry variables
# -----------------------------------------------------
registry_url="{{ platform_installer_config.aap_registry_url }}"
registry_username="{{ platform_installer_config.aap_registry_username }}"
registry_password="{{ platform_installer_config.aap_registry_password }}"

# Database server variables
# -----------------------------------------------------
# These are defined in your platform installer section to point to controller certs
{% if platform_installer_config.aap_pg_host is defined %}
pg_host="{{ platform_installer_config.aap_pg_host }}"
automationhub_pg_port="{{ platform_installer_config.aap_pg_port | default('5432') }}"
{% endif %}
automationhub_pg_database="{{ platform_installer_config.aap_pg_database }}"
automationhub_pg_username="{{ platform_installer_config.aap_pg_username }}"
automationhub_pg_password="{{ platform_installer_config.aap_pg_username }}"
automationhub_pg_sslmode="{{ platform_installer_config.aap_pg_sslmode }}"  # set to 'verify-full' for client-side enforced SSL
postgres_use_ssl="{{ platform_installer_config.aap_pg_use_ssl }}"
postgres_ssl_cert="{{ platform_installer_config.aap_pg_ssl_crt }}"
postgres_ssl_key="{{ platform_installer_config.aap_pg_ssl_key }}"


# Automation controller
# -----------------------------------------------------
automationhub_admin_username="{{ platform_installer_config.aap_platform_username }}"
automationhub_admin_password="{{ platform_installer_config.aap_platform_password }}"
automationhub_ssl_cert="{{ platform_installer_config.aap_hub_ssl_crt }}"
automationhub_ssl_key="{{ platform_installer_config.aap_hub_ssl_key }}"
