---

# piv_current_username: "idm_user"
# piv_current_user_csr_subject: "/CN=idm_user/DC={{ split_global_domain_name[0] }}/DC={{ split_global_domain_name[1] }}/emailAddress=idm_user@{% raw %}{{ _global_domain_name }}"
# piv_current_realm: "{{ _global_domain_name }}"
{% endraw %}
...
