---
{% raw %}
# The list of capsule servers to build for {{ _global_domain_name }}
# reference idm_replica_hosts to concatenate lists as necessary
idm_replica_hosts:
  - name: "idm2"
    fqdn: "idm2.{{ _global_domain_name }}"
    crt_force_regen: false
    delete_host: false
    organization: "{{ satellite_organization }}"
    location: "{{ satellite_location }}"
    hostgroup: "hg_x86_64_rhel9_metal/dev"
    compute_resource: "baremetal"
    comment: "deployed by rhis-provisioner"
    pxe_loader: "Grub2 UEFI"
    parameters:
      - name: "boot_disk"
        parameter_type: "string"
        value: "/dev/nvme0n1"
      - name: "root_disk"
        parameter_type: "string"
        value: "/dev/nvme0n1"
    interfaces_attributes:
      - type: "interface"
        identifier: "{{ _default_provision_iface }}"
        domain: "{{ _default_domain }}"
        execution: true
        managed: true
        primary: true
        provision: true
        subnet: "{{ _default_subnetname }}"
        mac: "54:b2:03:f1:0b:ef"
        ip: "{{ _default_network }}.6"
{% endraw %}
...
