---

# Set these if you are forwarding zones (you probably are not)
# idm_dns_forward_zones:
#   - name: "{{ _global_domain_name }}"
#     forwarders:
#       - ip_address: "10.10.10.5"
#       - ip_address: "10.10.10.6"
#     forward_policy: "only"
#     skip_overlap_check: true

# Set the bind policy for zones managed by the IdM server
# The realm-capsule bind policy should be much more restrictive
idm_dns_update_zones:
  - name: "{{ _global_domain_name }}"
    foreman_proxy_BIND_update_policy: 'grant EXAMPLE.CA krb5-self * A; grant EXAMPLE.CA krb5-self * AAAA; grant EXAMPLE.CA krb5-self * SSHFP; grant realm-capsule\@EXAMPLE.CA wildcard * ANY;' # noqa yaml[line-length]
  - name: "168.192.in-addr.arpa"
    foreman_proxy_BIND_update_policy: 'grant EXAMPLE.CA krb5-subdomain 168.192.in-addr.arpa. PTR; grant realm-capsule\@EXAMPLE.CA wildcard * ANY;'

# you probably want to add some standard records to the new DNS
idm_dns_records:
  # Service records
  - name: "_tcp._foreman"
    zone_name: "{{ _global_domain_name }}"
    record_type: "SRV"
    srv_port: "443"
    srv_priority: "0"
    srv_weight: "100"
    srv_target: "satellite1.{{ _global_domain_name }}."
    state: "present"

  # IP Address for non-registered hosts
  - name: "router"
    zone_name: "{{ _global_domain_name }}"
    record_type: "A"
    ip_address: "192.168.140.1"
    a_create_reverse: true
    state: "present"

  - name: "c3s1n1"
    zone_name: "{{ _global_domain_name }}"
    record_type: "A"
    ip_address: "192.168.143.241"
    a_create_reverse: true
    state: "present"

  - name: "c3s1n2"
    zone_name: "{{ _global_domain_name }}"
    record_type: "A"
    ip_address: "192.168.143.242"
    a_create_reverse: true
    state: "present"

  - name: "c3s1n3"
    zone_name: "{{ _global_domain_name }}"
    record_type: "A"
    ip_address: "192.168.143.243"
    a_create_reverse: true
    state: "present"

  - name: "c3s1n4"
    zone_name: "{{ _global_domain_name }}"
    record_type: "A"
    ip_address: "192.168.143.244"
    a_create_reverse: true
    state: "present"

  - name: "c3s1n5"
    zone_name: "{{ _global_domain_name }}"
    record_type: "A"
    ip_address: "192.168.143.245"
    a_create_reverse: true
    state: "present"

  - name: "c3s1n6"
    zone_name: "{{ _global_domain_name }}"
    record_type: "A"
    ip_address: "192.168.143.246"
    a_create_reverse: true
    state: "present"

  - name: "c3s1n7"
    zone_name: "{{ _global_domain_name }}"
    record_type: "A"
    ip_address: "192.168.143.247"
    a_create_reverse: true
    state: "present"

  - name: "c3s2n1"
    zone_name: "{{ _global_domain_name }}"
    record_type: "A"
    ip_address: "192.168.143.248"
    a_create_reverse: true
    state: "present"

  - name: "c3s2n2"
    zone_name: "{{ _global_domain_name }}"
    record_type: "A"
    ip_address: "192.168.143.249"
    a_create_reverse: true
    state: "present"

  - name: "c3s2n3"
    zone_name: "{{ _global_domain_name }}"
    record_type: "A"
    ip_address: "192.168.143.250"
    a_create_reverse: true
    state: "present"

  - name: "c3s2n4"
    zone_name: "{{ _global_domain_name }}"
    record_type: "A"
    ip_address: "192.168.143.251"
    a_create_reverse: true
    state: "present"

  - name: "c3s2n5"
    zone_name: "{{ _global_domain_name }}"
    record_type: "A"
    ip_address: "192.168.143.252"
    a_create_reverse: true
    state: "present"

  - name: "c3s2n6"
    zone_name: "{{ _global_domain_name }}"
    record_type: "A"
    ip_address: "192.168.143.253"
    a_create_reverse: true
    state: "present"

  - name: "c3s2n7"
    zone_name: "{{ _global_domain_name }}"
    record_type: "A"
    ip_address: "192.168.143.254"
    a_create_reverse: true
    state: "present"

  - name: "nas3"
    zone_name: "{{ _global_domain_name }}"
    record_type: "A"
    ip_address: "192.168.140.3"
    a_create_reverse: true
    state: "present"

  - name: "switch"
    zone_name: "{{ _global_domain_name }}"
    record_type: "A"
    ip_address: "192.168.140.2"
    state: "present"

  - name: "vcenter"
    zone_name: "{{ _global_domain_name }}"
    record_type: "A"
    ip_address: "192.168.140.30"
    a_create_reverse: true
    state: "present"

  - name: "esx1"
    zone_name: "{{ _global_domain_name }}"
    record_type: "A"
    ip_address: "192.168.140.31"
    a_create_reverse: true
    state: "present"

  - name: "esx2"
    zone_name: "{{ _global_domain_name }}"
    record_type: "A"
    ip_address: "192.168.140.32"
    a_create_reverse: true
    state: "present"

  - name: "esx3"
    zone_name: "{{ _global_domain_name }}"
    record_type: "A"
    ip_address: "192.168.140.33"
    a_create_reverse: true
    state: "present"

  - name: "esx4"
    zone_name: "{{ _global_domain_name }}"
    record_type: "A"
    ip_address: "192.168.140.34"
    a_create_reverse: true
    state: "present"

  - name: "esx5"
    zone_name: "{{ _global_domain_name }}"
    record_type: "A"
    ip_address: "192.168.140.35"
    a_create_reverse: true
    state: "present"

  - name: "esx6"
    zone_name: "{{ _global_domain_name }}"
    record_type: "A"
    ip_address: "192.168.140.36"
    a_create_reverse: true
    state: "present"

  - name: "esx7"
    zone_name: "{{ _global_domain_name }}"
    record_type: "A"
    ip_address: "192.168.140.37"
    a_create_reverse: true
    state: "present"

  - name: "esx8"
    zone_name: "{{ _global_domain_name }}"
    record_type: "A"
    ip_address: "192.168.140.8"
    a_create_reverse: true
    state: "present"

  - name: "esx9"
    zone_name: "{{ _global_domain_name }}"
    record_type: "A"
    ip_address: "192.168.140.9"
    a_create_reverse: true
    state: "present"
