# This is the Ansible Automation Platform growth installer inventory file
# Please consult the docs if you are unsure what to add
# For all optional variables please consult the included README.md
# or the Red Hat documentation:
# https://docs.redhat.com/en/documentation/red_hat_ansible_automation_platform/2.5/html/containerized_installation

# This section is for your platform gateway hosts
# -----------------------------------------------------
[automationgateway]
{{ ansible_fqdn }}

# This section is for your automation controller hosts
# -----------------------------------------------------
[automationcontroller]
{{ ansible_fqdn }}

# This section is for your automation hub hosts
# -----------------------------------------------------
[automationhub]
{{ ansible_fqdn }}

# This section is for your Event-Driven Ansible controller hosts
# -----------------------------------------------------
[automationeda]
{{ ansible_fqdn }}

# This section is for the Ansible Automation Platform database
# -----------------------------------------------------
[database]
{{ ansible_fqdn }}

[all:vars]
# Ansible
ansible_connection=local

# Common variables
# https://docs.redhat.com/en/documentation/red_hat_ansible_automation_platform/2.5/html/containerized_installation/appendix-inventory-files-vars#ref-general-inventory-variables
# -----------------------------------------------------
postgresql_admin_username="{{ platform_installer_config.aap_pg_username }}"
postgresql_admin_password="{{ platform_installer_config.aap_pg_password }}"

registry_username="{{ platform_installer_config.aap_registry_username }}"
registry_password="{{ platform_installer_config.aap_registry_password }}"

redis_mode=standalone

# Platform gateway
# https://docs.redhat.com/en/documentation/red_hat_ansible_automation_platform/2.5/html/containerized_installation/appendix-inventory-files-vars#ref-gateway-variables
# -----------------------------------------------------
gateway_admin_password="{{ platform_installer_config.aap_platform_password }}"
gateway_pg_host="{{ ansible_fqdn }}"
gateway_pg_password="{{ platform_installer_config.aap_pg_password }}"

# Automation controller
# https://docs.redhat.com/en/documentation/red_hat_ansible_automation_platform/2.5/html/containerized_installation/appendix-inventory-files-vars#ref-controller-variables
# -----------------------------------------------------
controller_admin_password="{{ platform_installer_config.aap_platform_password }}"
controller_pg_host="{{ ansible_fqdn }}"
controller_pg_password="{{ platform_installer_config.aap_pg_password }}"

# Automation hub
# https://docs.redhat.com/en/documentation/red_hat_ansible_automation_platform/2.5/html/containerized_installation/appendix-inventory-files-vars#ref-hub-variables
# -----------------------------------------------------
hub_admin_password="{{ platform_installer_config.aap_platform_password }}"
hub_pg_host="{{ ansible_fqdn }}"
hub_pg_password="{{ platform_installer_config.aap_pg_password }}"

# Event-Driven Ansible controller
# https://docs.redhat.com/en/documentation/red_hat_ansible_automation_platform/2.5/html/containerized_installation/appendix-inventory-files-vars#event-driven-ansible-controller
# -----------------------------------------------------
eda_admin_password="{{ platform_installer_config.aap_platform_password }}"
eda_pg_host="{{ ansible_fqdn }}"
eda_pg_password="{{ platform_installer_config.aap_pg_password }}"