<%#
name: soe_ensure_python
snippet: true
model: ProvisioningTemplate
organizations:
- Default Organization
-%>
<% if @host.operatingsystem.family == 'Redhat' && @host.operatingsystem.major.to_i == 8 %>
# updated to add 3.9 for ansiblecore
yum -y module reset python39
yum -y module enable python39:3.9
yum -y module install python39:3.9/common
<% else %>
yum -y install python3
<% end %>
