---
collections:
  - name: "community.general"
    version: "<=11.4.3"
  - name: "community.mysql"
    version: "<4.0.0"
  - name: "community.vmware"
    version: "<=2.3.0"
  - name: "ansible.netcommon"
    version: "<=1.5.0"
  - name: "ansible.posix"
  - name: "ansible.utils"
  - name: "ansible.controller"
  - name: "redhat.rhel_idm"
  - name: "redhat.satellite"
  - name: "redhat.satellite_operations"
  - name: "redhat.rhel_system_roles"
  - name: "azure.azcollection"
  